:root {
  --green: #1bb593;
  --sand: #fffaf2;
  --pink: #e9687a;
  --brown: #44370b;
  --primary: var(--green);
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  position: relative;

  background: var(--sand);
}
body * {
  position: relative;
  box-sizing: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  width: 100%;
  min-height: 100vh;
}
.layout {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", serif;
  color: var(--brown);
}
h3 {
  font-size: 23px;
  letter-spacing: 0.4px;
}
a {
  color: var(--primary);
}
